body {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.contenedor {
    height: 100vh;
    width: 100vw;
}


* {
    margin: 0px;
    padding: 0px;

}

img {

    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 4px;


}


.texto {

    font-size: 0.9rem;
    width: 100%;
    height: 60%;
    font-weight: 600;
    font-family: Titillium Web;
    margin-top: 3%;
    color: rgb(0, 0, 0);


}


.textoBlanco {

    font-size: 0.9rem;
    width: 100%;
    height: 60%;
    font-weight: 600;
    font-family: Titillium Web;
    margin-top: 3%;
    color: rgb(255, 255, 255);


}


.grilla {

    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(18, 1fr);
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: rgb(255, 255, 255);

}


.item-grilla {

    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    outline: solid 1px #000000;

}

.item-grilla:nth-child(1) {
    grid-column: 1/ span 9;
    grid-row: 1 / span 6;
    background-color: #000000;
}


.item-grilla:nth-child(4) {
    grid-column: 3 / span 5;
    grid-row: 7 / span 1;
}

.item-grilla:nth-child(8) {
    grid-column: 1 / span 9;
    grid-row: 8 / span 3;
    overflow: scroll;
}

.item-grilla:nth-child(9) {
    grid-column: 1 / span 6;
    grid-row: 11 / span 1;
    background-color: #000000;
}

.item-grilla:nth-child(10) {
    grid-column: 7 / span 3;
    grid-row: 11 / span 1;
    background-color: #000000;
}

.item-grilla:nth-child(11) {
    grid-column: 1 / span 9;
    grid-row: 12 / span 2;
}

.item-grilla:nth-child(12) {
    grid-column: 1 / span 9;
    grid-row: 14 / span 1;
}

.item-grilla:nth-child(13) {
    grid-column: 1 / span 9;
    grid-row: 15 / span 1;
    background-color: #000000;
}

.item-grilla:nth-child(14) {
    grid-column: 1 / span 9;
    grid-row: 16 / span 1;
}

.item-grilla:nth-child(15) {
    grid-column: 1 / span 9;
    grid-row: 17 / span 1;
}

.item-grilla:nth-child(16) {
    grid-column: 1 / span 9;
    grid-row: 18 / span 1;
}






.boton {

    width: 100%;
    height: 100%;
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
    text-align: center;

}


.botonVertical {

    width: 100%;
    height: 100%;
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    text-align: center;

}

.itemBoton {

    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    vertical-align: center;
    align-items: center;
    outline: solid 1px #000000;


}



.botoneraCentral {

    width: 100%;
    height: 100%;
    display: grid;
    object-fit: cover;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    text-align: center;

}

.itemBotoneraCentral {

    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
    vertical-align: center;
    align-items: center;
    outline: solid 1px #000000;


}




.modalMochila {


    display: grid;
    width: 33vW;
    height: 33vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 16.6%);
    text-align: center;
    position: absolute;
    margin-left: 31.8%;
    margin-top: 75%;
    z-index: 300;
    outline: solid #000000 9px;
    border: solid #ffffff 9px;
    background-color: rgb(255, 255, 255);

}



.item-modalMochila {

    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    outline: solid 1px #000000;

}

.item-modalMochila:nth-child(1) {
    grid-column: 1/ span 2;
    grid-row: 1 / span 1;
}

.item-modalMochila:nth-child(3) {
    grid-column: 1/ span 3;
    grid-row: 2 / span 1;
}

.item-modalMochila:nth-child(4) {
    grid-column: 1/ span 3;
    grid-row: 3 / span 1;
}

.item-modalMochila:nth-child(5) {
    grid-column: 1/ span 3;
    grid-row: 4 / span 1;
}

.item-modalMochila:nth-child(6) {
    grid-column: 1/ span 1;
    grid-row: 5 / span 2;
}

.item-modalMochila:nth-child(7) {
    grid-column: 2/ span 1;
    grid-row: 5 / span 2;
}

.item-modalMochila:nth-child(8) {
    grid-column: 3/ span 1;
    grid-row: 5 / span 2;
}






























.modal {


    display: none;
    width: 33vW;
    height: 33vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 16.6%);
    text-align: center;
    position: absolute;
    margin-left: 31.8%;
    margin-top: 75%;
    z-index: 250;
    outline: solid #000000 9px;
    border: solid #ffffff 9px;
    background-color: rgb(255, 255, 255);

}



.item-modal {

    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    outline: solid 1px #000000;

}

.item-modal:nth-child(1) {
    grid-column: 1/ span 2;
    grid-row: 1 / span 1;
}





@media only screen and (min-width: 576px) {
    .contenedor {
        height: 100vh;
        width: 50vw;
        position: absolute;
    }

    .grilla {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(18, 1fr);
        margin: 0 auto;
        text-align: center;
        z-index: 1;
        height: 100vh;
        width: 60vw;
        background: rgb(255, 255, 255);
    }



}

@media only screen and (min-width: 1026px) {


    .contenedor {
        height: 100vh;
        width: 27vw;
        position: absolute;
    }

    .grilla {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(18, 1fr);
        margin: 0 auto;
        text-align: center;
        z-index: 1;
        height: 100vh;
        width: 27vw;
        background: rgb(255, 255, 255);
    }




    .modal {


        display: none;
        width: 9vW;
        height: 33vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 16.6%);
        text-align: center;
        position: absolute;
        margin-left: 32%;
        margin-top: 65%;
        z-index: 250;
        outline: solid #000000 9px;
        border: solid #ffffff 9px;
        background-color: rgb(255, 255, 255);

    }


    .modalMochila {


        display: grid;
        width: 9vW;
        height: 33vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 16.6%);
        text-align: center;
        position: absolute;
        margin-left: 32%;
        margin-top: 65%;
        z-index: 300;
        outline: solid #000000 9px;
        border: solid #ffffff 9px;
        background-color: rgb(255, 255, 255);
    
    }


}


@media (prefers-color-scheme: dark) {
    body {
        display: flex;
        justify-content: center;
        background-color: rgb(0, 0, 0);
    }
}